/* header */
.nav{
 display: flex;
 padding: 200px 240px 140px 240px;
 background-color:rgba(221, 24, 24, 0.1);
 gap: 24px;
 
}


.nav-bar-title{
    font-weight: 800;
    font-size: 80px;
}

.nav-bar-descripton{
    font-size: 18px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
}

.btn-primary{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
}

/* header responsive */
@media screen and (max-width:576px) {
    .nav{
    flex-direction: column;
    padding: 0px;
}

}

/* feature style */
.featured{
    width: 590px;
    margin: 0 auto;
    
}
.featured-title{
    font-weight: 800;
    font-size: 40px;
}

.featured-description{
    font-size: 18px;
    line-height: 30px;
    color: #272727;
}

.pic-item{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    gap: 24px;
    
}

.feature-pic-1{
    width: 460px;
    border: 1px solid white;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0 0;
    text-align: center;  
    padding: 110px 50px 0px 50px;                 
}

.feature-pic-2{
     width: 460px;
    border: 1px solid white;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
    text-align: center;  
    padding: 110px 50px 0px 50px;  
}

.feature-pic-3{
     width: 460px;
    border: 1px solid white;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 50% 50% 0 0;
    text-align: center;  
    padding: 110px 50px 0px 50px; 
}
